body{
margin: 0px;
padding: 0px;
background-color: purple;
color: rgb(53, 145, 199);

}

form{
    text-align: center;
    background-color: purple;
    width: 50%;
    margin: auto;
    display:block;
    padding:20px

}


.Fale {
    color: greenyellow;
    background-color:purple;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    margin: 0px;

}

.button{
    color: greenyellow;
    background-color: purple;
    text-align: center;
    height: 40px;
    width: 170px;
    font-size: 18px;
}

button a{
    text-decoration: none;
    color: white;
    margin: 15px;
    padding: 5px;
}