.Fale {
    color: rgb(53, 145, 199);
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    margin: 0px;

}

.button{
    color: black;
    background-color: green;
    text-align: center;
    height: 50px;
    width: 200px;
    text-size-adjust: 10px;
}