body{
margin: 0px;
padding: 0px;
background-color: #1b6335;
color: #e1dd72;

}

form{
    text-align: center;
    background-color: #a8c66c;
    width: 50%;
    margin: auto;
    display:block;
    padding:20px

}


.Fale {
    color: #e1dd72;
    background-color:#a8c66c;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    margin: 0px;

}

.button{
    color:#e1dd72;
    background-color: #1b6335;
    text-align: center;
    height: 40px;
    width: 170px;
    font-size: 18px;
}

button a{
    text-decoration: none;
    color: white;
    margin: 15px;
    padding: 5px;
}