body{
    margin: 0px;
    padding: 0px;
font-family: sans-serif;

}





#banner {

    width: 100%;

}


.titulo-principal {
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 196, 153);
    padding: 50px;
    margin: 0px;
}

.titulo2{ 

  color: rgb(255, 0, 0);
    font-family: sans-serif;

 }


 .principal{

background-color: rgb(230, 196, 153);
padding: 30px;
margin: 0px;

 }